<section class="name-page-block ">
	<div class="name-page-block__body">
		<ul class="name-page-block__list">
			<li>
				<a class="link-hover" href="/">
					Homepage / 
				</a>
			</li>
			<li>
				<a class="link-hover" href="../work.html">
					Work / 
				</a>
			</li>
			<li>
				<a class="link-hover" href="./project.html?id={{projectId}}">
					{{projectName}}
				</a>
			</li>
		</ul>
		<h1 class="name-page-block__title ">
			{{projectName}}
		</h1>
	</div>
</section>
<section class="introduce">
	<div class="introduce__body ">
		<div class="introduce__slider">
			<div class="introduce__slider-title-image">
				<button id="project-swap-left" class="arrow">
					<img src="/assets/vendors/arrow-left.svg" alt="">
				</button>
				<button id="project-swap-right" type="button" class="arrow">
					<img src="/assets/vendors/arrow-right.svg" alt="">
				</button>
				<img id="project-main-image" src="/assets/project-images/{{projectImage1}}" class="image-adaptive"
					alt="" onerror="this.src='/assets/project-images/not-found.png'">
			</div>
			<div class="introduce__slider-subtitle-body" id="project-secondary-image">
				<div class="introduce__slider-subtitle-image">
					<img src="/assets/project-images/{{projectImage1}}" data-numberOfImage="1" class="image-adaptive"
						alt="" onerror="this.src='/assets/project-images/not-found.png'">
				</div>
				<div class="introduce__slider-subtitle-image">
					<img src="/assets/project-images/{{projectImage2}}" data-numberOfImage="2" class="image-adaptive"
						alt="" onerror="this.src='/assets/project-images/not-found.png'">
				</div>
				<div class="introduce__slider-subtitle-image">
					<img src="/assets/project-images/{{projectImage3}}" data-numberOfImage="3" class="image-adaptive"
						alt="" onerror="this.src='/assets/project-images/not-found.png'">
				</div>
				<div class="introduce__slider-subtitle-image">
					<img src="/assets/project-images/{{projectImage4}}" data-numberOfImage="4" class="image-adaptive"
						alt="" onerror="this.src='/assets/project-images/not-found.png'">
				</div>
				<div class="introduce__slider-subtitle-image">
					<img src="/assets/project-images/{{projectImage5}}" data-numberOfImage="5" class="image-adaptive"
						alt="" onerror="this.src='/assets/project-images/not-found.png'">
				</div>
				<div class="introduce__slider-subtitle-image">
					<img src="/assets/project-images/{{projectImage6}}" data-numberOfImage="6" class="image-adaptive"
						alt="" onerror="this.src='/assets/project-images/not-found.png'">
				</div>
			</div>
		</div>
		<div class="introduce__description ">
			<div class="introduce__description-value">
				<h3 class="introduce__description-value-title">
					Project goal
				</h3>
				<p class="introduce__description-value-text first">{{projectDescription}}</p>
				<p class="introduce__description-value-text">{{projectGoal}}</p>
			</div>
			<ul class="introduce__description-info">
				<li class="introduce__description-info-item">
					<span>Location </span>{{projectLocation}}
				</li>
				<li class="introduce__description-info-item">
					<span>Client </span>{{projectClient}}
				</li>
				<li class="introduce__description-info-item">
					<span>Architect </span>{{projectArchitect}}
				</li>
				<li class="introduce__description-info-item">
					<span>Size </span>{{projectSize}}
				</li>
				<li class="introduce__description-info-item">
					<span>Value </span>{{projectValue}}
				</li>
				<li class="introduce__description-info-item">
					<span>Completed </span>{{projectCompleted}}
				</li>
		</div>
</section>