<div class="slider {{modClass}} center">
	<div class="slider__top {{modClass}}">
		<div class="slider__title {{modClass}} title-block">
			<h2 class="title-block__title {{modClass}}">
				{{title}}
			</h2>
		</div>
		<div class="slider__buttons {{modClass}}">
			<button type="button" id="{{id}}-skip-left" class="arrow {{modClass}}">
				<img src="/assets/vendors/arrow-left.svg" alt="go left">
			</button>
			<button type="button" id="{{id}}-skip-right" class="arrow {{modClass}}">
				<img src="/assets/vendors/arrow-right.svg" alt="go right">
			</button>
		</div>
	</div>
	<div class="slider__content {{modClass}}" id="{{id}}-container">

	</div>
	<div class="slider__view-more {{modClass}} view-more-block">
		<p class="view-more-block__title ">
			Explore all our works
		</p>
		<a class="view-more-block__link {{modClass}} solid-button" href="work.html">
			view portfolio
		</a>
	</div>
</div>